# 計算機概論實習-Python第三堂課(請用心體會)

Review for output and input quickly

Review 1 (★★★☆☆): Five-five multiplication table
        1. used two for loop
        2. used \t to typesetting

In [3]:
#Step 1. this for loop control row 1 ~ 9
for i in range(1, 6, 1):
    #Step 2. this for loop control column 1 ~ 9
    for j in range(1, 6, 1):
        #Step 3. print each row, column and used \t of the end 
        print(j, '*', i, '=', i * j, end = '\t')
    #Step 4. when need change line, used print() that it can changed
    print()

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25

Review 2 (★★★☆☆): 
    Narcissistic number(水仙花數):
        define: 153 = 1^3 + 5^3 + 3^3
        In number 100 ~ 999, Which are the number of Narcissistic number, please find out and print it.

In [5]:
print('Narcissistic number:')
#Step 1. set counter 0
counter = 0
#Step 2. computing 100 ~ 999 of Narcissistic number
for i in range(100, 1000, 1):
    hundred = int(i / 100)
    ten = int((i / 10) % 10)
    one = int(i % 10)
    #Step 3. use if statement determined who is Narcissistic number
    if (i == hundred ** 3 + ten ** 3 + one ** 3):
        print(i , 'is Narcissistic number')
        counter += 1
print('In 100 ~ 999, total have', counter, 'of Narcissistic number')

Narcissistic number:
153 is Narcissistic number
370 is Narcissistic number
371 is Narcissistic number
407 is Narcissistic number
In 100 ~ 999, total have 4 of Narcissistic number

Homework 1 (★★★☆☆):
    input value into variable a
    1. please do foolproof(防呆), determine that the variable a is an integer and is bigger than 0, if it is False, the syntax is not executed
    2. if it is true, the hint as follow:
        2.1 a is bigger than 10
        2.2 a is equal 10
        2.3 if 2.1 and 2.1 are false then a is smaller than 10

In [9]:
#Step 1. enter value
a = input('Please enter value: ')
#Step 2. do foolproof
if a.isdigit():
    a = int(a)
    #Step 3. used if...elif...else to determined a
    if (a > 10):
        print(a, 'is bigger than 10')
    elif (a == 10):
        print(a, 'is equal 10')
    else:
        print(a, 'is smaller than 10')
else:
    print(a, 'not a value')

Please enter value: ljlj
ljlj not a value

Homework 2 (★★★★☆): Continuation Example 9, you must improved it
    1. please enter i and j to two variable
    2. please do foolproof and thinking where must used it
       (hint: property of Nine-nine multiplication table)

In [12]:
#Step 1. enter two value num1 and num2
num1 = input('Please enter the row value: ')
num2 = input('Please enter the column value: ')
#Step 2. do foolproof that convert to integer
if num1.isdigit() and num2.isdigit():
    num1 = int(num1)
    num2 = int(num2)
else:
    num1 = 9
    num2 = 9
    print('Your two variable not a value, improved it to integer 9')
#Step 3. this for loop control row 1 ~ num1
for i in range(1, num1 + 1, 1):
    #Step 4. this for loop control column 1 ~ num2
    for j in range(1, num2 + 1, 1):
        #Step 5. print each row, column and used \t of the end 
        print(j, '*', i, '=', i * j, end = '\t')
    #Step 6. when need change line, used print() that it can changed
    print()

Please enter the row value: nkjnk
Please enter the column value: mlkmkl
Your two variable not a value, improved it to integer 9
1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

Homework 3 (★★★★☆): 
    HW 1-1 (Exchange rate conversion program)
    please used Python write Day rate converter(當日匯率轉換程式) that convert NT$1,000 to equivalent pounds(英鎊), euros(歐元) and yen(日元)
    hint:
        please added the representative symbol of the currency before the amount

In [1]:
print("當日匯率轉換程式：")
print("牌價最新掛牌時間：2018/10/12 16:00")
#Step 1. converted dollars to GBP, EUR, JPY 
#Note: I want integer value
dollars = 1000
GBP = int(1000 / 39.69)
EUR = int(1000 / 34.96)
JPY = int(1000 / 0.2655)
print("1000元台幣轉成 \u00A3", GBP, "元英鎊!!")
print("1000元台幣轉成 \u20AC", EUR, "元歐元!!")
print("1000元台幣轉成 \u00A5", JPY, "元日圓!!")

當日匯率轉換程式：
牌價最新掛牌時間：2018/10/12 16:00
1000元台幣轉成 £ 25 元英鎊!!
1000元台幣轉成 € 28 元歐元!!
1000元台幣轉成 ¥ 3766 元日圓!!

Homework 4 (★★★☆☆):
    Please used for loop and * to print the 5 * 5 of square picture

In [46]:
for i in range(5):
    for j in range(5):
        print ('*', end = '')
    print()

*****
*****
*****
*****
*****

Homework 5 (★★★★★): 
    Permutations:
    You have four numbers: 1,2,3,4
        1. how many different and non-repetitive(不重複) numbers can be composed three digits?
        2. what is it?

In [47]:
count = 0
#Step 1. the first forloop was run hundreds of digits (1 ~ 4)
for i in range(1, 5):
    #Step 2. the second forloop was run tens of digits (1 ~ 4)
    for j in range(1, 5):
        #Step 3. the final forloop was run single digits (1 ~ 4)
        for k in range(1, 5):
            #Step 4. determind no duplicated numbers 
            if (i != j) and (j != k) and (i != k):
                #if (i + j + k) - (i + k + j) != 0:
                count += 1
                print('The number of ', count, 'tuple: (', i, ',', j, ',', k, ')')
                
print('Total count = ', count)

The number of  1 tuple: ( 1 , 2 , 3 )
The number of  2 tuple: ( 1 , 2 , 4 )
The number of  3 tuple: ( 1 , 3 , 2 )
The number of  4 tuple: ( 1 , 3 , 4 )
The number of  5 tuple: ( 1 , 4 , 2 )
The number of  6 tuple: ( 1 , 4 , 3 )
The number of  7 tuple: ( 2 , 1 , 3 )
The number of  8 tuple: ( 2 , 1 , 4 )
The number of  9 tuple: ( 2 , 3 , 1 )
The number of  10 tuple: ( 2 , 3 , 4 )
The number of  11 tuple: ( 2 , 4 , 1 )
The number of  12 tuple: ( 2 , 4 , 3 )
The number of  13 tuple: ( 3 , 1 , 2 )
The number of  14 tuple: ( 3 , 1 , 4 )
The number of  15 tuple: ( 3 , 2 , 1 )
The number of  16 tuple: ( 3 , 2 , 4 )
The number of  17 tuple: ( 3 , 4 , 1 )
The number of  18 tuple: ( 3 , 4 , 2 )
The number of  19 tuple: ( 4 , 1 , 2 )
The number of  20 tuple: ( 4 , 1 , 3 )
The number of  21 tuple: ( 4 , 2 , 1 )
The number of  22 tuple: ( 4 , 2 , 3 )
The number of  23 tuple: ( 4 , 3 , 1 )
The number of  24 tuple: ( 4 , 3 , 2 )
Total count =  24

Example 1 (★★☆☆☆): print 3 * 3 square picture

In [48]:
for i in range(3):
    for j in range(3):
        print('*', end = '')
    print()

***
***
***

Example 2 (★★★☆☆): print a trinagle with bottom of 3 and opposite of 3

In [49]:
for i in range(3):
    for j in range(i + 1):
        print('*', end = '')
    print()

*
**
***

In [50]:
#method 2
star = '*'
for i in range(3):
    print(star * (i + 1))

*
**
***

Example 3 (★★★☆☆):Continuation Example 2, print triangle on the other side

In [30]:
for i in range(3):
    for j in range(3):
        if j >= (2 - i):
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

  *
 **
***

Example 4 (★★★★☆):Continuation Example 2 and 3, print symmetrical triangle

In [51]:
for i in range(3):
    for j in range(6):
        if j >= (5 - i):
            print('*', end = '')
        elif j <= i:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

*    *
**  **
******

In [52]:
#method 2
for i in range(3):
    for j in range(6):
        if j >= (5 - i) or j <= i:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

*    *
**  **
******

Example 5 (★★★★☆):Continuation Example 4, print no place to be printed

In [44]:
for i in range(3):
    for j in range(6):
        if j < (5 - i) and j > i:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

 ****
  **

Example 6 (★★★★☆): print the calendar for January of this year

In [66]:
print("2019年1月\n")
print("日\t一\t二\t三\t四\t五\t六")
#Step 1. set the register to print calend
count = 0
#Step 2. used forloop to run the calendar
for i in range(33):
    #Step 3. determind the day of the week
    #judged if i < 2 then print ''
    if (i < 2):
        print(' ', end = '\t')
    else:
        #print calen
        print(count + 1, end = '\t')
        count += 1
        #if that day was Saturday then changed line
        if (i + 1) % 7 == 0:
            print()

2019年1月

日	一	二	三	四	五	六
 	 	1	2	3	4	5
6	7	8	9	10	11	12
13	14	15	16	17	18	19
20	21	22	23	24	25	26
27	28	29	30	31

Example 7 (★★★★★): print the calendar for February of this year

In [75]:
print("2019年2月\n")
print("日\t一\t二\t三\t四\t五\t六")
#Step 1. set the register to print calend
count = 0
year = 2019
#Step 2. used forloop to run the calendar
for i in range(34):
    #Step 3. determind the day of the week
    #judged if i < 5 then print ''
    if (i < 5):
        print(' ', end = '\t')
    else:
        #judged leap year
        #formula: 四年一閏，百年不閏；四百年再閏
        if (count == 28):
            if ((year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)):
                pass
            else:
                break
        #print calen
        print(count + 1, end = '\t')
        count += 1
        #if that day was Saturday then changed line
        if (i + 1) % 7 == 0:
            print()

2019年2月

日	一	二	三	四	五	六
 	 	 	 	 	1	2
3	4	5	6	7	8	9
10	11	12	13	14	15	16
17	18	19	20	21	22	23
24	25	26	27	28

Homework 1 (★★★☆☆):print 4 * 4 pyramid

In [2]:
for i in range(4):         # 總共有4層
    for j in range(4 - i - 1): # 在第一個*號出現前，先印出空白
        print(" ", end = "")
    for k in range(i + 1):                # 印出該層所需要的*字數量
        print("* ", end = "" )
    print()                # 換行

   *
  * *
 * * *
* * * *

Homework 2 (★★★☆☆): When calendar was Januray that print Peasant calendar

Homework 3 (★★★★☆): When calendar was February that print Peasant calendar

Homework 4 (★★★★★): Enter which year, month and day and determined the day of the year